$topnav-background-color: rgb(1, 76, 95);
:host {
    .navbar {
        background-color: $topnav-background-color;

        .navbar-brand {
            color: #fff;
        }

        .nav-item > a {
            color: rgb(255, 255, 255);

            &:hover {
                color: #fff;
            }
        }
    }

    .messages {
        width: 300px;

        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;

            &:last-child {
                border-bottom: none;
            }
        }

        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }

            .small {
                margin: 0;
            }

            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(11, 195, 241) !important;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(11, 195, 241) !important;
}

/* CSS to change 'Primary' color */

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(11, 195, 241) !important;
}

::ng-deep .mat-slide-toggle.mat-primary.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(11, 195, 241) !important;
}

/* CSS to change 'Warn' color */

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgb(11, 195, 241) !important;
}

::ng-deep .mat-slide-toggle.mat-warn.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgb(11, 195, 241) !important;
}
